<mat-toolbar color="primary">
    <span>To Do List App</span>
    <span class="example-spacer"></span> 

    <button mat-flat-button style="margin-right: 20px;" routerLink="/">
        <mat-icon>home</mat-icon>
    </button>

    <button mat-flat-button style="margin-right: 20px;" routerLink="/task">
        <mat-icon>assignment</mat-icon> Tasks
    </button>

    <button mat-flat-button routerLink="/login">
        <mat-icon>supervised_user_circle</mat-icon> Sign In
    </button>

</mat-toolbar> 

<router-outlet></router-outlet>