<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>To Do List App</span>
  <span class="example-spacer"></span> 

  <button mat-flat-button [hidden]="true" style="margin-right: 20px;" routerLink="/dashboard">
      <mat-icon>home</mat-icon>
  </button>

  <!-- <button mat-flat-button style="margin-right: 20px;" routerLink="/task">
      <mat-icon>assignment</mat-icon> Tasks
  </button> -->

  <button mat-flat-button [hidden]="true" style="margin-right: 20px;" routerLink="/login" name="signin">
      <mat-icon>supervised_user_circle</mat-icon> Sign In
  </button>

  <mat-label [hidden]="!auth.loggedIn()" style="margin-right: 20px;">{{auth.token()}}</mat-label>
  <button mat-flat-button  [disabled]="!auth.loggedIn()" (click)="auth.logout()">
    <mat-icon>supervised_user_circle</mat-icon> Sign Out
</button> 
<!-- *ngif="auth.loggedIn()" -->

</mat-toolbar> 

<router-outlet></router-outlet>